@import '../../../vendor/zurb/foundation/scss/normalize';
@import '../../../vendor/zurb/foundation/scss/foundation/_settings';
@import '../../../vendor/zurb/foundation/scss/foundation/components/_grid';
@import "../../../vendor/zurb/foundation/scss/foundation/components/alert-boxes";
@import "../../../vendor/zurb/foundation/scss/foundation/components/reveal";
@import "../../../vendor/zurb/foundation/scss/foundation/components/visibility";

@media #{$small-up} {
  .row{
    max-width: 94%;
  }
}

@media #{$medium-up} {
  .row{
    max-width: 90%;
  }
}

@media #{$xxlarge-up} {
  .row{
    max-width: 76%;
  }
}
