
footer {
  position: relative;
  width: 100%;
  background: $blue;
  margin: 2em 0 0 0;
  padding: 1em;
  color: #fff;
  font-size: 0.9em;

  ul {
    float: left;
    padding: 0;
  }
  li{
    list-style: none;
    margin: 0.4em 0;
  }

  a {
    text-decoration: none;
    color:#fff;
  }
  p {
    width: 100%;
    text-align: center;
    margin: 0.2em;

  }
}


#footerButton{
  background: $blue;
  padding: 0.5em 1em;
  color:#fff;
  position: absolute;
  left: 10%;
  bottom: 0;
  text-decoration: none;
}
#footerClose{
  display:none;
}