form{
  .form-group{
    float: left;
    width:100%;
    margin-bottom: 1em;
  }
  label, input[type=text], input[type=email], textarea{
    padding: 0.3em;
  }
  label{
    float:left;
    width: 25%;
    text-align: right;
    margin-right: 5%;
  }
  input[type=text], input[type=email]{
    float:left;
    width: 70%;
  }
  textarea{
    float:left;
    width: 70%;
  }
  input[type=submit]{
    float:right;
  }
}