header {
  position: relative;
  width: 100%;
    background: $blue;

  @media #{$small-only}{
    position: fixed;
    z-index: 1000;
  }
}

//caption
h2{
  color:#fff;
  font-family: cartoon;
  font-weight: normal;
}

#logo {
  float: left;
  margin: 1em 0;
  img {
    height: 2em;
    width: auto;
    margin-right: 1em;
    padding: 0;
    float: left;
  }
  @media#{$small-only}{
    width: 80%;
    margin: 0.5em 3%;
    small {
      display: none;
    }
  }
}

#mobileMenuIcon {
  font-size: 2em;
  float: right;
  margin: 0.3em 0em 0 0;
  @media #{$medium-up}{
    display: none;
  }
}