#home-search{
  margin-top:5em;
  input[type=text]{
    padding:0.3em 0.5em;
    font-size: 1.5em;
    width:80%;
    margin-right: 3%;
  }
  input[type=submit]{
    width: 15%;
    margin-left: 0;
  }
  @media #{$small-only}{
    input[type=text]{
      width:100%;
      margin: 2em 0;
    }
    input[type=submit]{
      width: 80%;
      margin: 1em 10%;
    }
  }
}
