a.wrapper {
  float: left;
  -webkit-perspective: 1000px;
  margin: 1em;
  .text {
    position: absolute;
    font-size: 1em;
    font-weight: bold;
    top: 1em;
    left: 0px;
    width: 100%;
    text-align: center;
    color: white;
  }
  div[class*='inner'] {
    border: 4px solid #fff;
    background: $red;
    width: 10em;
    height: 3em;
    transition: .3s;
    box-shadow: 5px 5px 5px #111;
    border-radius:5px;
  }
  .innerRight {
    -webkit-transform: rotateY(30deg) skew(40deg, 2deg);
  }
  .innerLeft {
    -webkit-transform: rotateY(-30deg) skew(-40deg, -2deg);
  }
  .innerCenter {
    -webkit-transform: rotateY(-40deg) skew(-20deg, -5deg);
  }

}

a.wrapper:hover {
  div[class*='inner'] {
    -webkit-transform: rotateY(0deg) skew(0deg, 0deg);
  }
}

