@mixin smoothText{
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

@mixin twistRight {
  background: red;

  a {
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    margin: 0.2em 0.8em;
    -webkit-transform: rotateY(50deg);
    transform:rotateY(50deg);
    -ms-transform:rotateY(50deg);
  }
}

@mixin flash {
  position: relative;
  z-index: 1000;
  float: left;
  -webkit-perspective: 1000px;
  margin: 1em;
  font-family: 'cartoon';
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  h1, h2, h3, h4, h5, a {
    color: #fff;
    font-weight: normal;
    position: relative;
    margin: 0.5em 2em;
    z-index: 1000;
  }
  a {
    float: left;
    color: #fff;
    text-decoration: none;
  }

  div[class*='inner'] {
    background: $red;
    z-index: 100;
    position: absolute;
    top: 0;
    width: 110%;
    height: 100%;
    box-shadow: 5px 5px 15px rgb(50, 50, 50);
    border-radius: 1px;
    transition: 0.3s;
  }
  .innerRight {
    left: 0;
    -webkit-transform: rotateY(30deg) skew(40deg, 2deg);
    transform:rotateY(30deg) skew(40deg, 2deg);
    -ms-transform:rotateY(30deg) skew(40deg, 2deg);
  }
  .innerLeft {
    left: -1.5em;
    -webkit-transform: rotateY(-30deg) skew(-40deg, -2deg);
    transform:rotateY(30deg) skew(40deg, 2deg);
    -ms-transform:rotateY(30deg) skew(40deg, 2deg);
  }
  .innerCenter {
    left: 0;
    -webkit-transform: rotateY(-40deg) skew(-20deg, -5deg);
  }
}

@mixin flashHover {
    div[class*='inner'] {
      -webkit-transform: rotateY(0deg) skew(0deg, 0deg);
  }
}
