.panel {
  position: relative;
  float: left;
  background: #fff;
  border-radius: 10px;
  padding: 1em;
  .title {
    //fix for panel titles to allow for long venue names
    margin-top: -1.6em;
    h1 {
      height: 2em;
      text-align: right;
    }
  }
  h1 {
    font-weight: normal;
    font-size: 1.1em;
  }
  img {
    position: relative;
    float: left;
    width: 100%;
    margin-top: -2em;
    margin-bottom: 1em;
  }
  p {
    position: relative;
    float: left;
  }
  small {
    position: relative;
    float: left;
    width: 100%;
  }
  @media #{$small-only}{
    width: 96%;
    margin: 2em 2%;
  }
}

@media #{$medium-up} {
  .panel {
    width: 32%;
    margin: 2em 1%;
    .description {
      position: relative;
      float: left;
      width: 100%;
      height: 6em;
    }
  }
  .panel:nth-of-type(3n + 1), .panel:first-of-type {
    margin-left: 0px;
  }
  .panel:nth-of-type(3n+0) {
    float: right;
    margin-right: 0px;
  }
}

.panel.side {
  width: 100%;
  margin-bottom: 2em;
  p {
    height: auto;
    width: 100%;
  }
  .flash {
    margin-top: -2em;
    margin-left: -1em;
    margin-bottom: 2em;
  }
  @media #{$small-only}{
    width: 96%;
  }
}

.panel.big {
  width: 100%;
  h1 {
    font-size: 2em;
  }
  p {
    height: auto;
  }
  .flash {
    margin-top: -2em;
    margin-left: -1em;
  }
  @media #{$small-only}{
    width: 96%;
  }

}

#description {
  img {
    width: auto;
    max-width: 100%;
  }
  img.right {
    margin: 0em 0em 1em 1em;
  }
  img.left {
    margin: 0em 1em 1em 0em;
  }

}