#reviews{
  .reviews {
    padding: 1em;
    margin-bottom: 1em;
    background: $grey;
  }
  strong{
    position: relative;
    float: left;
    width:100%;
  }

  form{
    position: relative;
    float: left;
  }
  p{
    margin-left: 1.5em;
  }

}

