.weather{
  position: relative;
  float: left;
  width:25%;
  padding: 0.7em;
  img{
    float:left;
    position:relative;
    width:100%;
    margin: 0.5em 0em;
  }
  p, strong{
    position: relative;
    font-size: 0.7em;
    float:left;
    width:100%;
    margin: 0.2em 0;
    text-align: center;
  }
  strong:first-of-type{
    position: relative;
    font-size: 1.1em;
    float:left;
    width:100%;
    margin: 0.1em 0;
    text-align: center;
  }
}